
/*Animation*/
$animation-time-small: 300ms;

.textfield {
    position: relative;
  
    padding: 17px 0;
    max-width: 100%;
    z-index: 1;
  
    input {
      border: none;
      border-bottom: 2px solid #201b2c
      ;
      display: block;
      padding: 6px 0;
      width: 100%;
  
      &:focus {
        border-bottom-color: blue;
        outline: none;
      }
  
      &:not(:placeholder-shown) ~ label,
      &:focus ~ label {
        transform: translateY(0);
      }
    }

    label {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        transform: translateY(30px);
        transition: all 0.2s ease-in-out;
      }

      &.-readonly {
        > label {
          color: #201b2c !important;
        }
        > .placeholder {
          color: #201b2c !important;
          background: none;
          touch-action: none;
          pointer-events: none;
        }
    
        > .helper-message {
          color: #201b2c;
        }
      }
      
      &.-readonly.-invalid {
        > label {
          color: red!important;
        }
      }
}

.form {
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
}

//tokens

/* Colors*/
